<span class="profileText">
  <span class="userName"><%= user.name %>'s</span>
  <span class="fancyMovie">Movies</span>
</span>

<div class="flexboxContainer">
  <% movies.forEach(function(movie, index) { %>
    <div class="flexboxChild hvr-float-shadow showHim" style="background-image: url(<%= movie['poster'] %>); height: 300px; width: 200px;">
      <div class="innerBox showMe hover">
        <p><%= movie['title'] %></p>
        <p>imdb: <%= movie['rating'] %></p>
        <p><%= movie['date'] %></p>
        <button id="deleteBtn" style="color: black" type="submit" name="delete" class="btn btn-danger deleteBtn"><a class="deleteText" href='/delete/<%= movie.id %>'>Delete</a></button>
        <button id="editBtn" style="color: black" type="submit" name="edit" class="btn btn-warning editBtn"><a class="editText" data-movieId="<%= movie.id %>" href='/edit/<%= movie.id %>'>Watched</a></button>
      </div>
          <!-- <strong><%= movie['title'] %></strong> -->
          <!-- <img class="poster" src="<%= movie['poster'] %>" alt="Poster"> -->
          <!-- <button <a href='/profile/<%= movie.id %>'>Delete</button> -->
    </div>
  <% }) %>
</div>
